<!-- Title -->
<div class="row title">
  <div class="col-md-12 text-center">
    <h3>
      Zu minimierenden Zielfunktionswert festlegen
    </h3>
    <mat-divider></mat-divider>
  </div>
</div>

<div class="row">
  <p class="col-md-12 text-justify">
    Loooooooooorem ipsum dolor sit amet.
    Lorem ipsum dolor sit amet.
    Lorem ipsum dolor sit amet.
    Lorem ipsum dolor sit amet.
    Lorem ipsum dolor sit amet.
    Lorem ipsum dolor sit amet.
    Lorem ipsum dolor sit amet.
    Lorem ipsum dolor sit amet.
    <!-- TODO: Add question mark and/or text? -->
  </p>
</div>

<mat-card>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-radio-group [(ngModel)]="selectedFunction">
          <mat-radio-button *ngFor="let objFunction of objectiveFunctionsAsStrings"
                            [value]="objFunction"
                            class="ord-text"
                            (change)="onSelectionChange($event)">
            <div class="wrap-mat-radio-label">
              {{objFunction}}
              <span class="information"
                    [innerHtml]="'(' + (objFunction | objectiveFunctionFormal) + ')'">
              </span>
            </div>
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <button mat-stroked-button
                (click)="deleteObjectiveFunction()"
                [disabled]="!selectedFunction"
                class="status-warning">
          <i class="fas fa-trash"></i>
          Gewählte Option löschen
        </button>

      </div>
    </div>
  </div>
</mat-card>

<!-- TODO Add formula here? Create pipe? -->
