.container {
  padding-top: 8px;
  padding-bottom: 8px;
}

.row {
  padding-top: 4px;
  padding-bottom: 4px;
}

.job-header {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.job-config-input-container {
  padding-top: 8px;
}
