<h1 mat-dialog-title>
  <mat-icon class="pull-right align-middle">
    <i class="far fa-bar-chart"></i>
  </mat-icon>
  Heuristiken
</h1>

<mat-dialog-content class="mat-typography text-justify">

  <p>
    Bitte wählen Sie eines der untenstehenden heuristischen Verfahren, um das aktuelle Reihenfolgeproblem zu lösen:
  </p>
  <p>
    Sollte eine Heuristik aktuell nicht anwendbar sein, so befindet sich ein rotes Icon neben ihrem Namen und Sie
    erfahren beim Überfahren dieses Icons bzw. beim Auswählen der Heuristik, aus welchem Grund sie aktuell nicht
    verwendet werden kann. Ein blaues Häkchen neben einer Heuristik bedeutet, dass sie aktuell anwendbar
    ist.
  </p>

  <mat-nav-list>
    <span *ngFor="let heuristic of getHeuristics()">

      <a (click)="closeDialog()"
         mat-list-item
         routerLink="visualize/{{heuristic.heuristicDefiner}}">

        <i *ngIf="!getHeuristicMessage(heuristic); else notApplicable"
           class="far fa-check-circle"
           matTooltip="Heuristik anwendbar"></i>

        <ng-template #notApplicable>
          <i class="fas fa-exclamation-triangle status-warning"
             matTooltip="{{getHeuristicMessage(heuristic)}}"></i>
        </ng-template>
        {{heuristic.name}}
      </a>

    </span>
  </mat-nav-list>

  <mat-divider></mat-divider>

  <p class="font-weight-bold">
    Weitere Hinweise:
  </p>
  <p>
    Beim Verwenden von Prioritätsregeln wird kein spezifischer zu minimierender Zielfunktionswert vorausgesetzt, da
    abhängig von der bzw. den gewählte(n) Regel(n) unterschiedliche Werte betrachtet werden und die Regeln ferner frei
    kombinierbar sind. Ein womöglich gewählter, zu minimierender Zielfunktionswert würde also ignoriert werden.
  </p>
  <p>
    Definierte Ablaufeigenschaften, die nicht für die Lösung des Reihenfolgeproblems mit der gewählten Heuristik
    vorausgesetzt sind, werden beim Ermitteln der Reihenfolge ignoriert. Eine Ausnahme bilden spezifizierte gewünschte
    Fertigstellungszeitpunkte, die zwar, sofern nicht benötigt, nicht in die eigentliche Berechnung einbezogen werden,
    jedoch stets zum Visualisieren der Lösungsgüte der Heuristik den tatsächlichen Fertigstellungszeitpunkten
    gegenübergestellt werden können.
  </p>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Schließen</button>
</mat-dialog-actions>
