img {
  width: 100%;
  margin-bottom: 16px;
}

mat-card {
  margin-top: 16px;
}

mat-card-title {
  margin-bottom: 16px;
}

.divider {
  padding-top: 8px;
  padding-bottom: 8px;
}

.step {
  display: flex;
}

.step-symbol {
  color: white;
  background-color: var(--color-main);
  border-radius: 36px;
  flex: 0 0 36px;
  height: 36px;
  margin-right: 8px;
  font-size: large;
}

.step-symbol + div {
  flex: 1;
  color: var(--color-main);
}

.step + .information {
  padding-left: 44px;
}
