<div class="nav-group-description">
  &alpha;: Maschinenumgebung
</div>

<a mat-list-item routerLink="alpha">
  <i class="fas fa-tasks"></i>
  Maschinen und Aufträge
</a>

<!-- TODO: Add symbols for each status? -->
<!-- TODO: Close view after successful click if view is 'over' -->

<mat-divider></mat-divider>

<div class="nav-group-description">
  &beta;: Ablaufeigenschaften
</div>

<a mat-list-item routerLink="beta/jobs-termination">
  <i class="far fa-calendar-alt"></i>
  Aufträge terminieren
</a>

<mat-divider></mat-divider>

<div class="nav-group-description">
  &gamma;: Zielfunktion
</div>

<a mat-list-item routerLink=".">
  <i class="fas fa-chart-line"></i>
  Zielfunktion festlegen
</a>
