<div class="nav-group-description">
  &alpha;: Maschinenumgebung
</div>

<a mat-list-item routerLink="alpha">
  <i class="fas fa-tasks"></i>
  Maschinen und Aufträge
</a>

<!-- TODO: Add symbols for each status? -->

<mat-divider></mat-divider>

<div class="nav-group-description">
  &beta;: Group description
</div>

<a mat-list-item routerLink=".">
  <i class="fas fa-question-circle"></i>
  Navigationspunkt a
</a>

<a mat-list-item routerLink=".">
  <i class="fas fa-question-circle"></i>
  Navigationspunkt b
</a>

<a mat-list-item routerLink=".">
  <i class="fas fa-question-circle"></i>
  Navigationspunkt ...
</a>

<mat-divider></mat-divider>

<div class="nav-group-description">
  &gamma;: Zielfunktion
</div>

<a mat-list-item routerLink=".">
  <i class="fas fa-chart-line"></i>
  Zielfunktion festlegen
</a>
