<div class="nav-group-description">
  &alpha;: Maschinenumgebung
</div>

<a mat-list-item routerLink="alpha" (click)="onListItemTapped()">
  <i class="fas fa-tasks"></i>
  Maschinen und Aufträge
</a>

<!-- TODO: Add symbols for each status? -->

<mat-divider></mat-divider>

<div class="nav-group-description">
  &beta;: Ablaufeigenschaften
</div>

<a mat-list-item routerLink="beta/jobs-termination" (click)="onListItemTapped()">
  <i class="far fa-calendar-alt"></i>
  Aufträge terminieren
</a>

<mat-divider></mat-divider>

<div class="nav-group-description">
  &gamma;: Zielfunktion
</div>

<a mat-list-item routerLink="gamma" (click)="onListItemTapped()">
  <i class="fas fa-chart-line"></i>
  Zielfunktion festlegen
</a>

<mat-divider></mat-divider>

<div class="nav-group-description">
  Alternative Heuristik
</div>

<a mat-list-item routerLink="priority-rules" (click)="onListItemTapped()">
  <i class="fas fa-sort-numeric-down"></i>
  Prioritätsregeln festlegen
</a>
