.kpi-card {
  background-color: var(--color-main);
  color: white;
  padding: 8px;
  margin-bottom: 8px;
}

i, .average {
  font-size: xx-large;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-line {
  border-right: 1px solid white;
}

.kpi-value {
  font-size: x-large;
}

.average {
  height: 32px;
  width: 32px;
  transform: translateY(-12px);
}
