<div class="card kpi-card text-center container" #card>

  <div [ngClass]="{'row' : isRow}">
    <div class="centered" [ngClass]="{'col-5 right-line' :isRow, 'col-12' : !isRow}">
      <i #icon></i>
      <span class="average" *ngIf="!kpi.iconClasses">&oslash;</span>
    </div>
    <div [ngClass]="{'col-7' : isRow}">
      <div [ngClass]="{'row' : isRow}">
        <div class="col-12 kpi-value centered">
          {{kpi.kpi | number : '1.0-2' :'fr'}}
        </div>
        <div class="font-weight-light font-small col-12 centered">
          {{kpi.title}}
        </div>
      </div>
    </div>
  </div>
</div>
