<ng-container *ngIf="chosenHeuristic.heuristicDefiner === heuristic.PRIORITY_RULES">
  <p class="text-justify">
    Bei diesem Verfahren wird der Ablaufplan dynamisch ermittelt, d.h. dass sich in der Warteschlange ein jeder Maschine
    die Aufträge befinden, die aktuell nicht in Bearbeitung und als nächstes an der jeweiligen Maschine abzuarbeiten
    sind. Diese Warteschlange wird stets aktualisiert solange nicht die Produktion aller Aufträge abgeschlossen ist.
  </p>
  <p class="text-justify">
    Für jede Maschine, an der aktuell kein Auftrag bearbeitet wird und in deren Warteschlange sich mehrere Aufträge
    befinden, wird basierend auf der/den gewählten Prioritätsregel(n) der nächste zu bearbeitende Auftrag bestimmt.
    Hierzu wird die Warteschlange sortiert, indem die durch die definierte(n) Prioritätsregel(n) (absteigende
    Reihenfolge) betrachteten Werte miteinander verglichen werden bis sie sich für die jeweiligen Aufträge unterscheiden
    und somit eine Aussage darüber möglich ist, welcher Auftrag zu bevorzugen ist. Sollte dies nicht möglich sein,
    entspricht die Auswahl der Prioritätsregel "First come, first serve".
  </p>
</ng-container>

<ng-container *ngIf="chosenHeuristic.heuristicDefiner === heuristic.NEAREST_NEIGHBOUR">
  <p class="text-justify">
    Bei diesem Verfahren wird der Ablaufplan dynamisch ermittelt, d.h. dass sich in der Warteschlange der Maschine zu
    Beginn bereits alle Aufträge befinden und bis zur Fertigstellung aller Aufträge geprüft wird, welcher Auftrag nach
    der Fertigstellung des jeweils vorherigen Auftrags als nächstes zu bearbeiten ist.
  </p>
  <p class="text-justify">
    Der erste Auftrag wird hierbei dadurch bestimmt, wie klein die Rüstzeit zu einem diesem Auftrag folgenden Auftrag
    wäre. Alle weiteren dadurch, wie klein die Rüstzeit vom vorherigen Auftrag zu ihnen wäre.
  </p>
  <p class="text-justify">
    Die jeweiligen Rüstzeiten sind dabei zu minimieren. Allgemein gilt, dass wenn mehrere Aufträge in Frage kämen, der
    erste mit der jeweiligen an dieser Stelle kleinsten Rüstzeit bevorzugt wird.
  </p>
</ng-container>

<ng-container *ngIf="chosenHeuristic.heuristicDefiner === heuristic.NEH_HEURISTIC">
  <p class="text-justify">
    Bei diesem Verfahren wird maschinenübergreifend die Abarbeitungsreihenfolge aller Aufträge festgelegt.
  </p>
  <p class="text-justify">
    Hierzu werden die Aufträge zunächst abhängig vom gewählten zu minimierenden Zielfunktionswert vorsortiert. Für die
    beiden Werte an erster Stelle wird anschließend ermittelt, in welcher Reihenfolge sie allein betrachtet abgearbeitet
    werden müssten, um den betrachteten Zielfunktionswert zu minimieren. Diese Permutation wird anschließend weiter
    betrachtet und sie stellt den (vorläufigen) Abarbeitungsplan dar.
  </p>
  <p class="text-justify">
    Bis alle Aufträge behandelt worden sind, werden in jedem Schritt Permutationen gebildet, indem der jeweils nächste,
    unbearbeitete Auftrag in der vorsortierten Liste an jeder Stelle im bisherigen Abarbeitungsplan eingefügt wird.
    Anschließend lässt sich für jede Permutation der Zielfunktionswert bestimmen und jene stellt fortan den
    Abarbeitungsplan dar, für die dieser Wert minimal ist. Der finale Abarbeitungsplan ist also das Ergebnis nach
    Einfügen des letzten Auftrags.
  </p>
  <p class="text-justify">
    Allgemein gilt, dass wenn mehrere Permutationen in Frage kämen, die erste mit dem jeweiligen an dieser Stelle
    kleinsten Zielfunktionswert bevorzugt wird.
  </p>
</ng-container>

<ng-container *ngIf="chosenHeuristic.heuristicDefiner === heuristic.LOCAL_SEARCH">
  <p class="text-justify">
    Bei diesem Verfahren wird maschinenübergreifend die Abarbeitungsreihenfolge aller Aufträge festgelegt.
  </p>
  <p class="text-justify">
    Hierfür werden ausgehend von einer gegebenen Permutation zunächst alle Permutationen erstellt, die durch das
    Tauschen zweier Aufträge entstehen, und anschließend für jede dieser Permutationen geprüft, ob der zu minimierende
    Zielfunktionswert bei der Abarbeitung der Aufträge in eben dieser Reihenfolge kleiner wäre als bei der Abarbeitung
    in der durch die jeweilige Ausgangs-Permutation vorgegebenen Reihenfolge. Jene Permutation, für die der Wert am
    kleinsten (und kleiner als bei der Ausgangs-Permutation) wäre, wird fortan betrachtet.
  </p>
  <p class="text-justify">
    Dieser Vorgang wird mit der gefundenen besseren Permutation als Startwert wiederholt bis der zu minimierende
    Zielfunktionswert in einer Iteration keinen kleineren Wert mehr annimmt. Die allererste Ausgangs-Permutation ist die
    unsortierte Liste an Aufträgen.
  </p>
  <p class="text-justify">
    Allgemein gilt, dass wenn mehrere Permutationen in Frage kämen, die erste mit dem jeweiligen an dieser Stelle
    kleinsten Zielfunktionswert bevorzugt wird.
  </p>
</ng-container>

<ng-container *ngIf="chosenHeuristic.heuristicDefiner === heuristic.SHIFTING_BOTTLENECK">
  <p class="text-justify">
    Bei der Shifting-Bottleneck-Heuristik wird zunächst geprüft, ob das aktuell vorliegende Problem exakt lösbar ist.
    Hierzu werden, ohne zu berücksichtigen, dass so auch mehrere Aufträge zum gleichen Zeitpunkt an einer Maschine zu
    bearbeiten sein könnten, die optimalen Belegungspläne für jede Maschine erstellt, d.h. Pläne, in denen jeder Auftrag
    ohne Pausen bearbeitet wird. Sollte in den so ermittelten Abarbeitungsreihenfolgen zu keinem Zeitpunkt an einer
    Maschine mehr als ein Auftrag bearbeitet werden, kann das Problem exakt gelöst werden und bedarf keiner weiteren
    Beachtung.
  </p>
  <p class="text-justify">
    In der Regel ist dies allerdings nicht der Fall und das eigentliche Shifting-Bottleneck-Verfahren findet Anwendung.
    Dafür wird die Komplexität des vorliegenden Problems reduziert, indem Hilfsprobleme, konkret Ein-Maschinen-Probleme
    auf Basis der kleinstmöglichen Mindestgesamtbearbeitungszeit (längste Gesamtbearbeitungszeit eines Auftrags),
    geschaffen werden. Diese lassen sich nun mithilfe eines exakten Verfahrens, implementiert ist das Branch &
    Bound-Verfahren, mit dem zu minimierenden Zielfunktionswert ‚Maximale Verspätung‘ optimal lösen. Die Ankunfts- bzw.
    Soll-Fertigstellungszeitpunkte ermitteln sich durch vorhergehende sowie nachfolgende Arbeitsgänge der jeweiligen
    Aufträge. Formal handelt es sich bei den Hilfsproblemen je um: 1 | r<sub>j</sub> | L<sub>max</sub>
  </p>
  <p class="text-justify">
    Aus der Menge der ermittelten Lösungen wird die Auftragsreihenfolge jener Maschine, für die der zu minimierende
    Zielfunktionswert am größten ist, aufgenommen und ist im Umkehrschluss nicht mehr zu betrachten. Sofern noch nicht
    jede Maschine aufgenommen worden sein sollte, werden basierend auf aus dem Ergebnis resultierenden Vor- und
    Nachbeziehungen die Ankunfts- sowie Fertigstellungszeitpunkte der Aufträge in den verbleibenden Hilfsproblemen
    aktualisiert. Das Verfahren wird solange durchgeführt bis die Reihenfolge für jede Maschine ermittelt worden ist
    bzw. jedes Hilfsproblem gelöst wurde.
  </p>
  <p class=“text-justify“>
    Allgemein gilt, dass wenn L<sub>max</sub> für mehrere Reihenfolgen denselben Wert annimmt, die erste jeweilige
    Maschine bevorzugt wird.
  </p>
</ng-container>
