<div class="row">
  <div class="col-12 text-justify">

    <div class="float-right col-12 col-sm-7 col-md-6 col-lg-5">
      <app-scheduling-kpi [kpi]="data.durationInMillisKpi"></app-scheduling-kpi>
    </div>

    <div> <!-- TODO: add information here -->
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
    kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
    sadipscing elitr, sed diam Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
    dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
    kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
    sadipscing elitr, sed diam</div>

    <!-- TODO: Add complexity of heuristic and possible exact procedure -->
  </div>
</div>
