<div class="row">
  <div class="col-12 text-justify">

    <p>
      Das mit der gewählten Heuristik ({{heuristic.name}}) gelöste Problem umfasst {{data.numberOfJobs}} Aufträge, deren
      Abarbeitung an {{data.numberOfMachines > 1 ? data.numberOfMachines + ' Maschinen ': 'einer Maschine'}}
      ermittelt wurde. Es handelt sich dabei um ein {{data.machineConfig === machineCongig.ONE_MACHINE ?
      'Ein-Maschinen' : data.machineConfig === machineCongig.FLOWSHOP ? 'Flow Shop' : 'Job Shop'}}-Problem.
    </p>

    <p *ngIf="!data.priorityRules; else listPriorityRules">
      Formal:
      <span class="app-color">
        <span [innerHtml]="data.machineConfig"></span>
        <span *ngIf="data.numberOfMachines > 1"><sub>{{data.numberOfMachines}}</sub></span>
        |
        <span *ngIf="data.formalBeta" [innerHtml]=data.formalBeta></span>
        |
        <span [innerHtml]="(data.objectiveFunction | objectiveFunctionFormal)"></span>
      </span>
    </p>

    <ng-template #listPriorityRules>
      <p>
        Zum Bestimmen der Abarbeitungsreihenfolge
        {{data.priorityRules.length > 1 ? 'wurden folgende Prioritätsregeln' : 'wurde folgende Prioritätsregel'}}
        verwendet: {{data.priorityRules.join(', ')}}
      </p>
    </ng-template>

  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6">
    <app-scheduling-kpi [kpi]="data.durationInMillisKpi"></app-scheduling-kpi>
  </div>
  <div *ngIf="data.iterations" class="col-md-6">
    <app-scheduling-kpi [kpi]="data.iterations"></app-scheduling-kpi>
  </div>
</div>
