<div class="row">
  <div class="col-12 text-justify">

    <div class="float-right col-12 col-sm-8 col-md-5 col-lg-4">
      <app-scheduling-kpi [kpi]="data.durationInMillisKpi"></app-scheduling-kpi>
      <app-scheduling-kpi *ngIf="data.iterations" [kpi]="data.iterations"></app-scheduling-kpi>
    </div>

    <div> <!-- TODO content: add information here -->
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
      kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
      sadipscing elitr, sed diam Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
      invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
      kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
      sadipscing elitr, sed diam
    </div>

    <p *ngIf="!data.priorityRules">
      Gelöstes Problem: <!-- Show only when not having selected priority rules? and info otherwise.-->
      <span class="app-color">
        <span [innerHtml]="data.machineConfig"></span>
        <span *ngIf="data.numberOfMachines > 1"><sub>{{data.numberOfMachines}}</sub></span>
        <span *ngIf="data.formalBeta" [innerHtml]="' | ' + data.formalBeta"></span>
        |
        <span [innerHtml]="(data.objectiveFunction | objectiveFunctionFormal)"></span>
      </span>
    </p>

  </div>
</div>
