<!-- TODO: Add descriptional text -->
<p>machine-tables works!</p>

<mat-accordion>
  <mat-expansion-panel *ngFor="let machineTable of data" class="mat-elevation-z0"
                       [expanded]="data.length === 1">
    <mat-expansion-panel-header>
      <div class="text-center title">
        <h5>Maschine {{machineTable.machineNr}}</h5>
      </div>
    </mat-expansion-panel-header>
    <table class="table">
      <thead>
      <tr>
        <th>t</th>
        <th>Auftrag</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let entry of machineTable.machineTableEntries">
        <td matTooltip="{{'Von Zeitpunkt ' + entry.timestampStart + ' bis ' + entry.timestampEnd}}">
          {{entry.timestampStart}} - {{entry.timestampEnd}}
        </td>
        <td matTooltip="{{'Auftrag: ' + entry.producedJobString}}" [style.color]="entry.color">
          {{entry.producedJobString}}
        </td>
      </tr>
      </tbody>
    </table>
  </mat-expansion-panel>
</mat-accordion>
