<!-- Title -->
<div class="row title">
  <div class="col-md-12 text-center">
    <h3>
      Lösen des Reihenfolgeproblems mit Heuristik:
      {{result.generalData.usedHeuristic.name}}
    </h3>
    <mat-divider></mat-divider>
  </div>
</div>

<p class="text-justify">
  Im Folgenden werden sowohl das Reihenfolgeproblem selbst als auch die Güte der mithilfe der gewählten Heuristik
  ermittelten Lösung visualisiert. Dem Auftragsfolge-Gantt-Diagramm folgend, das die Abarbeitungsreihenfolge der
  einzlenen Arbeitsgänge grafisch darstellt, ist diese Seite in Abschnitte unterteilt, die sich aus
  Übersichtlichkeitsgründen nach Belieben ein- und ausblenden lassen.
  <!-- TODO: If log implemented: Name here, list below and add component to page -->
</p>
<p class="text-justify">
  Sie können alternativ auch direkt hier an- bzw. abwählen, welche Informationen angezeigt werden sollen:
</p>

<!-- checkboxes with headlines: -->
<ul class="small">
  <li>
    <mat-checkbox [(ngModel)]="isGeneralDataVisible">Grundsätzliche Daten</mat-checkbox>
  </li>
  <li>
    <mat-checkbox [(ngModel)]="isSolutionQualityDataVisible">Kennzahlen der ermittelten Lösung</mat-checkbox>
  </li>
  <li>
    <mat-checkbox [(ngModel)]="isVisualizableGeneralDataVisible">Visualisierung von Daten des Reihenfolgeproblems
    </mat-checkbox>
  </li>
  <li>
    <mat-checkbox [(ngModel)]="isVisualizableSolutionQualityDataVisible">Visualisierung der Lösungsgüte</mat-checkbox>
  </li>
</ul>

<div *ngIf="!result; else solution" class="loading-container">
  <div class="loading-content">
    <mat-spinner></mat-spinner>
  </div>
</div>

<ng-template #solution>

  <app-scheduling-gantt
    [timelineData]="result.visualizableSolutionQualityData.allMachineOperationsTimeline"></app-scheduling-gantt>

  <mat-accordion #accordion="matAccordion" [multi]="true">

    <!-- Subtitle: General data -->
    <mat-expansion-panel [expanded]="isGeneralDataVisible" (click)="isGeneralDataVisible = !isGeneralDataVisible">
      <mat-expansion-panel-header>
        <div class="row title">
          <div class="col-md-12">
            <h4 matTooltip="{{'Grundsätzliche Daten '+(isGeneralDataVisible ? 'ausblenden':'einblenden')}}">
              Grundsätzliche Daten
            </h4>
          </div>
        </div>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <div class="content">
        <app-general-data [data]="result.generalData"></app-general-data>
      </div>
    </mat-expansion-panel>

    <!-- Subtitle: KPIs -->
    <mat-expansion-panel [expanded]="isSolutionQualityDataVisible" (click)="isSolutionQualityDataVisible = !isSolutionQualityDataVisible">
      <mat-expansion-panel-header>
        <div class="row title">
          <div class="col-md-12">
            <h4 matTooltip="{{'Kennzahlen der ermittelten Lösung '+(isSolutionQualityDataVisible ? 'ausblenden':'einblenden')}}">
              Kennzahlen der ermittelten Lösung
            </h4>
          </div>
        </div>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <div class="content no-padding-bottom">
        <app-solution-quality-data [data]="result.solutionQualityData"></app-solution-quality-data>
      </div>
    </mat-expansion-panel>

    <!-- Subtitle: General data visualization -->
    <mat-expansion-panel [expanded]="isVisualizableGeneralDataVisible" (click)="isVisualizableGeneralDataVisible = !isVisualizableGeneralDataVisible">
      <mat-expansion-panel-header>
        <div class="row title">
          <div class="col-md-12">
            <h4 matTooltip="{{'Visualisierung von Daten des Reihenfolgeproblems '+(isVisualizableGeneralDataVisible ? 'ausblenden':'einblenden')}}">
              Visualisierung von Daten des Reihenfolgeproblems
            </h4>
          </div>
        </div>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <div class="content">
        <app-general-data-visualizer [data]="result.visualizableGeneralData"></app-general-data-visualizer>
      </div>
    </mat-expansion-panel>

    <!-- Subtitle: General data visualization -->
    <mat-expansion-panel [expanded]="isVisualizableSolutionQualityDataVisible" (click)="isVisualizableSolutionQualityDataVisible = !isVisualizableSolutionQualityDataVisible">
      <mat-expansion-panel-header>
        <div class="row title">
          <div class="col-md-12">
            <h4 matTooltip="{{'Visualisierung der Lösungsgüte '+(isVisualizableSolutionQualityDataVisible ? 'ausblenden':'einblenden')}}">
              Visualisierung der Lösungsgüte
            </h4>
          </div>
        </div>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <div class="content">
        <app-solution-quality-visualizer [data]="result.visualizableSolutionQualityData"></app-solution-quality-visualizer>
      </div>
    </mat-expansion-panel>

  </mat-accordion>

</ng-template>
