<!-- Title -->
<div class="row title">
  <div class="col-md-12 text-center">
    <h3>
      Visualisierung der Lösungsgüte bei Verwendung von {{result.generalData.usedHeuristic.name}}
    </h3>
    <mat-divider></mat-divider>
  </div>
</div>

<!-- TODO text-->
<p>
  Visualization lorem ipsum visualization lorem ipsum visualization lorem ipsum visualization lorem ipsum visualization
  lorem ipsum visualization lorem ipsum visualization lorem ipsum visualization lorem ipsum visualization lorem ipsum
  visualization lorem ipsum visualization lorem ipsum visualization lorem ipsum visualization lorem ipsum visualization
  lorem ipsum visualization lorem ipsum visualization lorem ipsum visualization lorem ipsum visualization lorem ipsum
  visualization lorem ipsum visualization lorem ipsum visualization lorem ipsum visualization lorem ipsum visualization
  lorem ipsum.
</p>

<div *ngIf="!result; else solution" class="loading-container">
  <div class="loading-content">
    <mat-spinner></mat-spinner>
  </div>
</div>

<ng-template #solution>

  <app-general-data [data]="result.generalData"></app-general-data>
  <app-scheduling-gantt
    [timelineData]="result.visualizableSolutionQualityData.allMachineOperationsTimeline"></app-scheduling-gantt>
  <!-- TODO: Add card like layout in order to have flexible heights? -->
  <app-solution-quality-data [data]="result.solutionQualityData"></app-solution-quality-data>
  <app-general-data-visualizer [data]="result.visualizableGeneralData"></app-general-data-visualizer>
  <app-solution-quality-visualizer [data]="result.visualizableSolutionQualityData"></app-solution-quality-visualizer>

</ng-template>
