<div class="input-group"
     matTooltip="{{currentTooltip}}">
  <div class="input-group-prepend">
  <span class="input-group-text"
        [ngClass]="{'status-warning' : !isLegalValue}">
    <i #icon></i>
  </span>
  </div>
  <!-- TODO: Alternative to onkeypress -->
  <input class="form-control"
         type="number"
         value="{{_value}}"
         placeholder="{{placeholder}}"
         (keyup)="checkValidityOfNumber()"
         onkeypress="return(event.charCode === 8 ||
                          event.charCode === 0 ||
                          event.charCode === 13) ?
                          null : event.charCode >= 48 && event.charCode <= 57"
         (change)="onNumberChange()"
         [ngClass]="{'status-warning' : !isLegalValue}"
         #inputField/>
</div>
