<h1 mat-dialog-title [ngClass]="{'status-warning' : data.type === type.ERROR}">
  <span class="pull-right">
    <mat-icon *ngIf="data.type === type.INFO" class="align-middle">info_outline</mat-icon>
    <mat-icon *ngIf="data.type === type.QUESTION" class="align-middle">help_outline</mat-icon>
    <mat-icon *ngIf="data.type === type.ERROR" class="align-middle">error_outline</mat-icon>
  </span>
  {{data.header}}
</h1>

<!-- content as paragraphs-->
<mat-dialog-content class="mat-typography">
  <p *ngFor="let t of data.text">
    {{t}}
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Schließen</button>
</mat-dialog-actions>
