<!-- TODO Calculate due date based kpis only if due dates are configured for each job. -->
<p>
  Die Güte einer ermittelten Lösung lässt sich unter anderem an bestimmten Kennzahlen
  festmachen.
</p>

<div class="info-box">
  <h6>
    <i class="fas fa-info-circle"></i>
    Hinweis
  </h6>
  <div class="information font-italic  text-justify">
    Bitte beachten Sie, dass Kennzahlen, die sich auf gewünschte Fertigstellungstermine bzw. Verspätungen
    beziehen, nur dann berechnet werden können, wenn diese für alle Aufträge konfiguriert sind.
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card-columns">
      <app-scheduling-kpi *ngFor="let kpi of data" [kpi]="kpi"></app-scheduling-kpi>
    </div>
  </div>
</div>
