<p class="text-justify">
  Die Güte der ermittelten Lösung lässt sich unter anderem an bestimmten Kennzahlen festmachen, die in diesem
  Unterkapitel gelistet werden.
</p>

<div class="info-box" *ngIf="!isEachDueDateConfigured; else dueDateConsideration">
  <h6>
    <i class="fas fa-info-circle"></i>
    Hinweis
  </h6>
  <div class="information text-justify">
    Kennzahlen, die sich auf gewünschte Fertigstellungstermine bzw. Verspätungen beziehen, konnten nicht berechnet
    werden, da Fertigstellungstermine gar nicht oder nicht für alle Aufträge definiert sind.
  </div>
</div>

<ng-template #dueDateConsideration>
  <div class="info-box" *ngIf="!isDueDatesConsidered()">
    <h6>
      <i class="fas fa-info-circle"></i>
      Hinweis
    </h6>
    <div class="information text-justify">
      Soll-Fertigstellungstermine wurden zwar beim Lösen des Reihenfolgeproblems aufgrund des gewählten
      Zielfunktionswerts nicht berücksichtigt, darauf basierende Kennzahlen zum Visualisieren der Lösungsgüte der
      Heuristik allerdings dennnoch ermittelt.
    </div>
  </div>
</ng-template>

<div class="row">
  <div class="col-md-12">
    <div class="card-columns">
      <app-scheduling-kpi *ngFor="let kpi of data" [kpi]="kpi"></app-scheduling-kpi>
    </div>
  </div>
</div>
