<!-- TODO Calculate due date based kpis only if due dates are configured for each job. -->
<p>
  Die Güte der ermittelten Lösung lässt sich unter anderem an bestimmten Kennzahlen festmachen, die in diesem
  Unterkapitel präsentiert werden.
</p>

<div class="info-box" *ngIf="!isEachDueDateConfigured">
  <h6>
    <i class="fas fa-info-circle"></i>
    Hinweis
  </h6>
  <div class="information font-italic  text-justify">
    Kennzahlen, die sich auf gewünschte Fertigstellungstermine bzw. Verspätungen beziehen, konnten nicht berechnet
    werden, da Fertigstellungstermine gar nicht oder nicht für alle Aufträge definiert sind.
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card-columns">
      <app-scheduling-kpi *ngFor="let kpi of data" [kpi]="kpi"></app-scheduling-kpi>
    </div>
  </div>
</div>
