<!-- TODO Descriptional text -->
<p>scheduling-log-component works!</p>

<div class="row">
  <div class="col-md-12 information">
    <i class="fas fa-pen"></i>
    Geloggte Ereignisse in Bezug auf
  </div>
</div>

<mat-divider></mat-divider>

<div class="row log-group-description">
  <div class="col-12 col-md-6">
    <mat-checkbox [(ngModel)]="isJobQueueSelected" class="small">
      {{logEventType.JOB_QUEUE}}
    </mat-checkbox>
  </div>
  <div class="col-12 col-md-6">
    <mat-checkbox [(ngModel)]="isProductionStartSelected" class="small">
      {{logEventType.PRODUCTION_START}}
    </mat-checkbox>
  </div>
  <div class="col-12 col-md-6">
    <mat-checkbox [(ngModel)]="isHeuristicBasedSortingSelected" class="small">
      {{logEventType.HEURISTIC_BASED_SORTING}}
    </mat-checkbox>
  </div>
</div>

<div class="row">
  <div class="col-md-12 information">
    <i class="fas fa-tools"></i>
    Maschinen
  </div>
</div>

<mat-divider></mat-divider>

<div class="row log-group-description">
  <div *ngFor="let mnr of machineNrs" class="col-6 col-md-4 col-lg-3 col-xl-2">
    <mat-checkbox [disabled]="machineNrs.length === 1"
                  [(ngModel)]="machinesShown[mnr-1]" class="small"
                  matTooltip="{{machineNrs.length === 1 ? 'Nicht abwählbar, da nur eine Maschine konfiguriert ist' : ''}}">
      Maschine {{mnr}}
    </mat-checkbox>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <mat-divider></mat-divider>
    <button mat-stroked-button
            [disabled]="!isAnyMachineSelected() || !isAnyLogTypeSelected()"
            (click)="showLog()">
  <span class="align-middle"
        matTooltip="{{!isAnyMachineSelected() && !isAnyLogTypeSelected()
          ? 'Bitte wählen Sie mindestens eine Maschine und mindestens einen logbaren Ereigbnistypen'
          : !isAnyMachineSelected() ? 'Bitte wählen Sie mindestens eine Maschine'
          : !isAnyLogTypeSelected() ? 'Bitte wählen Sie mindestens einen logbaren Ereigbnistypen'
          : 'Geloggte Ereignisse mit gewählten Optionen anzeigen'
        }}">
    <i class="far fa-file-alt"></i>
    Log anzeigen
  </span>
    </button>
  </div>
</div>
