<h1 mat-dialog-title>
  <span class="pull-right">
    <mat-icon class="align-middle">info_outline</mat-icon>
  </span>
  Über dieses Programm
</h1>

<mat-dialog-content class="mat-typography">
  <h3>Inhalt und Ziel</h3>
  <div class="text-justify">
    <!-- TODO: add info text -->
    Lorem ipsum...
  </div>

  <br>
  <br>

  <h3>Entstehung des Programms</h3>
  <div>
    Diese Anwendung wurde im Sommersemester 2019 im Rahmen einer Bachelorarbeit
    (Wirtschaftsinformatik) an der Hochschule für Technik und Wirtschaft Berlin entwickelt:
    <br>
    <br>

    <!-- Listed thesis data -->
    <div class="container-fluid thesis-information">
      <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
          Titel:
        </div>
        <div class="col-sm-8 col-md-9 col-lg-10 col-xl-10 text-justify">
          Visualisierung der Lösungsgüte von Heuristiken in Abhängigkeit von Art und Größe des Problems
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
          Erstbetreuer:
        </div>
        <div class="col-sm-8 col-md-9 col-lg-10 col-xl-10">
          Prof. Dr.-Ing. Jörg Courant
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
          Zweitbetreuerin:
        </div>
        <div class="col-sm-8 col-md-9 col-lg-10 col-xl-10">
          Dr. Anna-Maria von Saucken
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
          Autor:
        </div>
        <div class="col-sm-8 col-md-9 col-lg-10 col-xl-10">
          Lucas Larisch (s0558070)
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

  <h3>Technische Informationen</h3>
  <div class="text-justify">
    <!-- TODO: Add information? Keep? Add GitHub-link? -->
    Lorem ipsum...
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    Schließen
  </button>
</mat-dialog-actions>
