.thesis-information {
  border: 1px solid #cccccc;
  border-radius: 8px;
  background-color: #eeeeee;
}

.thesis-information .row {
  padding-top: 8px;
  padding-bottom: 8px;
}

.thesis-information .row :first-child {
  font-weight: bolder;
}
