<h1 mat-dialog-title>
  Über dieses Programm
</h1>

<mat-divider></mat-divider>

<mat-dialog-content class="mat-typography">
  <h2>Inhalt und Ziel</h2>
  <div>
    <!-- TODO: add info text -->
    Lorem ipsum...
  </div>

  <br>
  <br>

  <h2>Entstehung des Programms</h2>
  <div>
    Diese Anwendung wurde im Sommersemester 2019 im Rahmen einer Bachelorarbeit
    (Wirtschaftsinformatik) an der Hochschule für Technik und Wirtschaft Berlin entwickelt:
    <br>
    <br>
    <!-- TODO: Make responsive-->
    <table>
      <tr>
        <td>
          Titel:
        </td>
        <td>
          Visualisierung der Lösungsgüte von Heuristiken in Abhängigkeit von Art und Größe des Problems
        </td>
      </tr>
      <tr>
        <td>
          Erstbetreuer:
        </td>
        <td>
          Prof. Dr.-Ing. Jörg Courant
        </td>
      </tr>
      <tr>
        <td>
          Zweitbetreuerin:
        </td>
        <td>
          Dr. Anna-Maria von Saucken
        </td>
      </tr>
      <tr>
        <td>
          Autor:
        </td>
        <td>
          Lucas Larisch (s0558070)
        </td>
      </tr>
      <tr>
        <td>
          Abgabedatum:
        </td>
        <td>
          05.08.2019
        </td>
      </tr>
    </table>
  </div>

  <br>
  <br>

  <h2>Technische Informationen</h2>
  <div>
    <!-- TODO: Add information? Keep? Add GitHub-link? -->
    Lorem ipsum...
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    Schließen
  </button>
</mat-dialog-actions>
