<h1 mat-dialog-title>
  <span class="pull-right">
    <mat-icon class="align-middle">info_outline</mat-icon>
  </span>
  Über diese Anwendung
</h1>

<mat-dialog-content class="mat-typography">
  <h3>Inhalt und Ziel</h3>
  <div class="text-justify">
    <p>
      In der vorliegenden Applikation lassen sich Reihenfolgeprobleme für bis zu 50 Aufträge auf bis zu 15 Maschinen
      lösen. Hierbei können des Weiteren Ablaufeigenschaften sowie ein zu minimierender Zielfunktionswert ausgewählt
      werden, der beim Erstellen der Abarbeitungsreihenfolge berücksichtigt wird.
    </p>
    <p>
      Insgesamt finden fünf Heuristiken Verwendung (Shifting-Bottleneck-Heuristik, NEH-Heuristik, Lokale Suche, Nächster
      Nachbar & Prioritätsregeln), mithilfe derer sich definierte Probleme lösen lassen.
    </p>
    <p>
      Der Fokus liegt hierbei auf der Visualisierung der ermittelten Lösungen bzw. ihrer Güte. Auch wurde darauf
      geachtet, an entsprechenden Stellen nähere Erläuterungen bzw. Erklärungen einzufügen, sodass die Webapplikation
      dabei hilft, das komplexe Thema <span class="font-italic">Heuristiken</span> im produktionswirtschaftlichen
      Kontext etwas greifbarer zu machen und die Anwendung schlussendlich in der Lehre verwendet werden kann.
    </p>
    <p>
      Bei der Gestaltung der App wurde sowohl darauf geachtet, dass sie auf verschiedensten Endgeräten und
      plattformübergreifend verwendet werden kann, als auch darauf, die Benutzeroberfläche nicht zuletzt in Anbetracht
      der Komplexität der Thematik möglichst simpel, intuitiv und interaktiv zu gestalten.
    </p>
  </div>

  <h3>Entstehung des Programms</h3>
  <div>
    <p class="text-justify">
      Diese Anwendung wurde im Sommersemester 2019 im Rahmen einer Bachelorarbeit
      (Wirtschaftsinformatik) an der Hochschule für Technik und Wirtschaft Berlin entwickelt:
    </p>

    <!-- Listed thesis data -->
    <div class="container-fluid thesis-information">
      <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
          Titel:
        </div>
        <div class="col-sm-8 col-md-9 col-lg-10 col-xl-10 text-justify">
          Visualisierung der Lösungsgüte von Heuristiken in Abhängigkeit von Art und Größe des Problems
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
          Erstbetreuer:
        </div>
        <div class="col-sm-8 col-md-9 col-lg-10 col-xl-10">
          Prof. Dr.-Ing. Jörg Courant
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
          Zweitbetreuerin:
        </div>
        <div class="col-sm-8 col-md-9 col-lg-10 col-xl-10">
          Dr. Anna-Maria von Saucken
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
          Autor:
        </div>
        <div class="col-sm-8 col-md-9 col-lg-10 col-xl-10">
          Lucas Larisch (s0558070)
        </div>
      </div>
    </div>
  </div>

  <h3>Quellen für die Algorithmen</h3>
  <div>
    <p class="text-justify">
      Die einzelnen Verfahren wurden basierend auf folgender Literatur implementiert:
    </p>
    <ul>
      <li>
        Branch & Bound, Shifting-Bottleneck-Heuristik: Ablaufplanung - Einführung in Scheduling, 2. Auflage, Jaehn &
        Pesch (2019)
      </li>
      <li>
        NEH-Heuristik, Lokale Suche & Prioritätsregeln: Übungsbuch Losbildung und Fertigungssteuerung, Herrmann (2018)
      </li>
      <li>
        Nächster Nachbar: Einführung in Scheduling, 9. Auflage, Domschke et al. (2015)
      </li>
    </ul>
  </div>

  <h3>Technische Informationen</h3>
  <div>
    <p class="text-justify">
      Die vorliegende Webapplikation wurde rein clientseitig mit dem Frontend-Framework
      <a class="app-color" (click)="onAngularClicked()">Angular</a>
      (Version 8) entwickelt. Die verwendeten Sprachen beschränken sich daher auf TypeScript, HTML und CSS. Darüber
      hinaus fanden folgende in alphabetischer Reihenfolge gelisteten Technologien Verwendung:
    </p>
    <ul>
      <li>
        <a class="app-color" (click)="onAngularMaterialClicked()">Angular Material: </a>
        Komponenten und Icons
      </li>
      <li>
        <a class="app-color" (click)="onBootstrapClicked()">Bootstrap: </a>
        Responsive Webdesign und Komponenten
      </li>
      <li>
        <a class="app-color" (click)="onChartJsClicked()">Chart.js: </a>
        Diagramme
      </li>
      <li>
        <a class="app-color" (click)="onFontAwesomeClicked()">Font Awesome: </a>
        Icons
      </li>
      <li>
        <a class="app-color" (click)="onGitHubClicked()">GitHub: </a>
        Versionsverwaltung und Hosten der Anwendung
      </li>
      <li>
        <a class="app-color" (click)="onGoogleChartsClicked()">Google Charts: </a>
        Gantt-Diagramm
      </li>
      <li>
        <a class="app-color" (click)="onMaterialDesignClicked()">Material Design: </a>
        Icons
      </li>
      <li>
        <a class="app-color" (click)="onMdBootstrapClicked()">MDBootstrap</a>
        Komponenten
      </li>
      <li>
        <a class="app-color" (click)="onMockUPhoneClicked()">MockUPhone: </a>
        Generieren von Screenshots einzelner Endgeräte
      </li>
    </ul>

    <div class="text-center">
      <a class="app-color" (click)="onGithubProjectClicked()">
        <i class="fab fa-github"></i>
        Dieses Projekt auf GitHub öffnen
      </a>
    </div>

  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    Schließen
  </button>
</mat-dialog-actions>
