a {
  cursor: pointer;
}

li {
  padding-bottom: 8px;
}

h3:not(:first-child) {
  margin-top: 32px;
}

.thesis-information {
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: #eeeeee;
}

.thesis-information .row {
  padding-top: 8px;
  padding-bottom: 8px;
}

.thesis-information .row :first-child {
  font-weight: bolder;
}

.app-color {
  color: var(--color-main) !important;
}
