<div class="row title">
  <div class="col-md-12 text-center">
    <h3>
      Gewichtung der einzelnen Aufträge festlegen
    </h3>
    <mat-divider></mat-divider>
  </div>
</div>


<div class="row">
  <div class="col-md-12 text-justify">
    <p>
      Es kann Situationen geben, in denen ein zu minimierender Zielfunktionswert zusätzlich durch die Gewichtung von
      Aufträgen bestimmt wird. Diese Gewichtung eines jeden Auftrags kann hier angegeben werden, wobei die Priorität
      eines Auftrags durch die Höhe der jeweiligen Zahl bestimmt wird (je höher die Zahl, desto höher priorisiert).
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 jobs-actions">
    <button mat-stroked-button
            [disabled]="isWeightOfEachJobConfigured()"
            (click)="addRandomWeights()">
          <span class="align-middle"
                matTooltip="{{!isWeightOfEachJobConfigured() ? 'Automatisch zufällige Gewichtungen für alle Aufträge generieren'
                : 'Es sind bereits Gewichtungen für alle Aufträge definiert'}}">
            <i class="fas fa-random"></i>
            Zufällige Gewichtungen
          </span>
    </button>
    <button mat-stroked-button
            [disabled]="isWeightOfNoJobConfigured()"
            (click)="deleteAllExistingWeights()"
            class="status-warning">
          <span class="align-middle"
                matTooltip="{{!isWeightOfNoJobConfigured() ? 'Alle bestehenden Gewichtungen löschen'
                  : 'Aktuell existieren keine Gewichtungen, die gelöscht werden könnten'
                }}">
            <i class="fas fa-trash"></i>
            Alle Gewichtungen löschen
          </span>
    </button>
  </div>
</div>

<div class="row">
  <div *ngFor="let job of jobs" class="col-md-6 ord-text card-container">
    <mat-card>
      <div class="no-wrap-text-ellipsis">
        <span>Auftrag mit ID: {{job.id}}</span>
        <!-- Tooltip, since long job names may be cut off on smaller devices. -->
        <span matTooltip="{{job.name}}">
            ({{job.name}})
          </span>
      </div>
      <mat-card-content>
        <div class="row">
          <div class="col-md-12 job-config-input-container">
            <app-icon-number-input
              [iconClasses]="['fas', 'fa-balance-scale']"
              [placeholder]="'Auftragsgewichtung'"
              [isShowValueTooltip]="true"
              [min]="1"
              [value]="job.weight"
              (newValue)="onWeightChanged(job, $event)"
            >
            </app-icon-number-input>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
