mat-form-field {
  width: 100%;
  max-width: 400px;
}

mat-accordion {
  width: 100%;
}

mat-expansion-panel-header {
  /* default - space from icon to button border*/
  padding-left: calc(24px - (40px - 13.2px) / 2);
}

mat-accordion mat-expansion-panel:last-child {
  margin-bottom: 16px;
}

mat-expansion-panel-header div {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.job-id {
  /* additional to global style */
  /* 13.2 = width of trash icon. Calc: space from trash icon to clone icon (40px = button width) */
  margin-left: calc((40px - 13.2px) / 2);
}

.machine-config-container {
  margin-bottom: 8px;
}

.machine-config-container button.mat-icon-button {
  -webkit-transform: translate(-2px, -2px);
  -moz-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  -o-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
}

.machine-number {
  color: var(--color-main);
}

.information {
  color: var(--color-grey-font);
}

.machine-number .information {
  margin: 0;
}

.machines-list {
  border: solid 1px #ccc;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  margin: 8px;
}

.machine-box {
  padding: 8px;
  border-bottom: solid 1px #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.machine-box:last-child {
  border: none;
}

.machines-list.cdk-drop-list-dragging .machine-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.job-header button i {
  font-size: larger;
}

.existing-jobs-actions, .existing-jobs-actions mat-divider, .information {
  padding-top: 8px;
}

.existing-jobs-actions button {
  margin-right: 8px;
  margin-bottom: 8px;
}
