mat-accordion {
  width: 100%;
}

mat-expansion-panel-header {
  /* default - space from icon to button border*/
  padding-left: calc(24px - (40px - 13.2px) / 2);
}

.job-id {
  /* additional to global style */
  /* 13.2 = width of trash icon. Calc: space from trash icon to clone icon (40px = button width) */
  margin-left: calc((40px - 13.2px) / 2);
}

.drag-drop-list {
  margin: 8px;
}

.job-header button i {
  font-size: larger;
}

.jobs-actions button, .jobs-actions mat-divider {
  margin-bottom: 8px !important;
}

.jobs-list {
  margin-top: 8px;
}

.add-job {
  margin-top: 16px;
  margin-bottom: 16px;
}

.add-padding-left {
  padding-left: 8px;
}

.drag-drop-box, .drag-drop-box div {
  margin-left: 0;
  padding-left: 0;
  margin-right: 0;
  padding-right: 0;
}
