mat-accordion {
  width: 100%;
}

mat-expansion-panel-header {
  /* default - space from icon to button border*/
  padding-left: calc(24px - (40px - 13.2px) / 2);
}

.job-header {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.job-id {
  /* additional to global style */
  /* 13.2 = width of trash icon. Calc: space from trash icon to clone icon (40px = button width) */
  margin-left: calc((40px - 13.2px) / 2);
}

.drag-drop-list {
  margin: 8px;
}

.job-header button i {
  font-size: larger;
}

.existing-jobs-actions, .existing-jobs-actions mat-divider, .information {
  padding-top: 8px;
}

.existing-jobs-actions button {
  margin-right: 8px;
  margin-bottom: 8px;
}

.add-padding-left {
  padding-left: 8px;
}
