<div class="row title">
  <div class="col-md-12 text-center">
    <h3>
      Aufträge und Maschinen
    </h3>
    <mat-divider></mat-divider>
  </div>
</div>

<!-- TODO feature: Shorter button names -->
<!-- TODO feature: (For all pages) button tooltip in button and only in span for disabled buttons -->
<!-- TODO feature: rethink layout -->
<!-- TODO content: Descriptional text as in other pages? -->
<!-- TODO internal feature: Previous state instead of readding/deleting jobs? -->

<div class="row">
  <div class="col-md-12">
    <app-machine-config (machineNrChanged)="onMachineNrChanged($event)"></app-machine-config>
  </div>
</div>

<div class="row add-job">
  <div class="col-md-12">
    <app-add-job [isMaxJobsConfigured]="jobs.length >= 50"
                 (autoGenerateTimesChanged)="onAutoTimeGenerationChanged($event)"
                 (newCreatedJob)="onNewJobCreated($event)"></app-add-job>
  </div>
</div>

<div class="row">
  <div class="col-md-12 jobs-actions">
    <div class="information">
      <i class="fas fa-stopwatch"></i>
      Zeiten der Arbeitsgänge
    </div>
    <mat-divider></mat-divider>
    <button mat-stroked-button
            [disabled]="jobs.length < 1 || storage.getValueDefinitionStatus(definableValue.ALPHA_JOB_TIMES) === configurationStatus.COMPLETELY_DEFINED"
            (click)="addRandomTimesForUndefined()">
          <span class="align-middle"
                matTooltip="{{jobs.length < 1 ? 'Bitte fügen Sie zunächst mindestens einen Auftrag hinzu'
                  : storage.getValueDefinitionStatus(definableValue.ALPHA_JOB_TIMES) !== configurationStatus.COMPLETELY_DEFINED ? 'Alle fehlenden Zeiten der Arbeitsgänge der einzelnen Aufträge automatisch erzeugen'
                  : 'Aktuell sind die Zeiten für die Arbeitsgänge aller Aufträge definiert'
                }}">
            <i class="fas fa-random"></i>
            Zufällige Zeiten für undefinierte Arbeitsgänge
          </span>
    </button>
    <button mat-stroked-button
            [disabled]="jobs.length < 1 || storage.getValueDefinitionStatus(definableValue.ALPHA_JOB_TIMES) === configurationStatus.NOT_DEFINED"
            (click)="deleteAllExistingJobTimes()"
            class="status-warning">
          <span class="align-middle"
                matTooltip="{{jobs.length < 1 ? 'Bitte fügen Sie zunächst mindestens einen Auftrag hinzu'
                  : storage.getValueDefinitionStatus(definableValue.ALPHA_JOB_TIMES) !== configurationStatus.NOT_DEFINED ? 'Alle Zeiten für die Arbeitsgänge der einzelnen Aufträge löschen'
                  : 'Aktuell sind keine Zeiten für Arbeitsgänge definiert, die gelöscht werden könnten'
                }}">
            <i class="fas fa-trash"></i>
            Zeiten aller Arbeitsgänge löschen
          </span>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12 jobs-actions">
    <div class="information">
      <i class="fas fa-tools"></i>
      Reihenfolge der Arbeitsgänge
    </div>
    <mat-divider></mat-divider>
    <button mat-stroked-button
            [disabled]="storage.machineConfigParam !== machineConfig.JOBSHOP"
            (click)="sortEachJobMachineOrder()">
          <span class="align-middle"
                matTooltip="{{storage.machineConfigParam === machineConfig.JOBSHOP ? 'Reihenfolge der Arbeitsgänge aller Aufträge vereinheitlichen und somit zu Flowshop wechseln'
                  : storage.machineConfigParam === machineConfig.FLOWSHOP ? 'Bei der aktuellen Konfiguration handelt es sich bereits um einen Flowshop'
                  : storage.machineConfigParam === machineConfig.ONE_MACHINE ? 'Für Flowshop wird mindestens eine weitere Maschine benötigt'
                  : 'Bitte fügen Sie zunächst Aufträge hinzu'
                }}">
            Jobshop
            <mat-icon class="align-middle">arrow_right_alt</mat-icon>
            Flowshop
          </span>
    </button>
    <button mat-stroked-button
            [disabled]="jobs.length < 1 || storage.machineConfigParam === machineConfig.ONE_MACHINE"
            (click)="shuffleMachineOrderOfExistingJobs()">
          <span class="align-middle"
                matTooltip="{{jobs.length < 1 ? 'Bitte fügen Sie zunächst Aufträge hinzu'
                  : storage.machineConfigParam === machineConfig.ONE_MACHINE ? 'Für diese Funktion werden mehrere Maschinen benötigt'
                  : 'Arbeitsgänge aller Aufträge zufällig anordnen'
                }}">
            <i class="fas fa-random"></i>
            Reihenfolge der Arbeitsgänge aller Aufträge mischen
          </span>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12 jobs-actions">
    <div class="information">
      <i class="fas fa-exclamation-triangle"></i>
      Auftragsübergreifend
    </div>
    <mat-divider></mat-divider>
    <button mat-stroked-button
            [disabled]="jobs.length < 1"
            (click)="deleteAllExistingJobs()"
            class="status-warning">
          <span class="align-middle"
                matTooltip="{{jobs.length > 0 ? 'Alle bestehenden Aufträge löschen'
                  : 'Aktuell existieren keine Aufträge, die gelöscht werden könnten'
                }}">
            <i class="fas fa-trash"></i>
            Alle Aufträge löschen
          </span>
    </button>
  </div>
</div>

<div class="row jobs-list">
  <div class="col-md-12">

    <!-- TODO internal feature: Extract to new component? -->
    <mat-accordion *ngIf="jobs.length > 0; else noJobs">
      <mat-expansion-panel *ngFor="let job of jobs">
        <mat-expansion-panel-header #header>
          <div class="job-header no-wrap-text-ellipsis">
            <button mat-icon-button
                    (click)="deleteJob(job)"
                    matTooltip="Auftrag löschen">
              <i class="fas fa-trash"></i>
            </button>
            <button mat-icon-button
                    [disabled]="jobs.length >= 50"
                    (click)="copyJob(job, header)"
                    matTooltip="Auftrag kopieren">
              <i class="fa fa-clone"
                 matTooltip="{{jobs.length >= 50 ? 'Maximale Auftragszahl (50) erreicht' : ''}}">
              </i>
            </button>
            <span class="information">(ID: {{job.id}})</span>
            <!-- Tooltip, since long job names may be cut off on smaller devices. -->
            <span matTooltip="{{job.name}}">
              {{job.name}}
            </span>
          </div>
        </mat-expansion-panel-header>

        <div *ngIf="job.machineTimes.length > 1" class="information add-padding-left">
          Abarbeitungsreihenfolge per Drag & Drop ändern:
        </div>
        <div cdkDropList class="drag-drop-list" (cdkDropListDropped)="changeMachineOrderOfJob(job, $event)">
          <div class="row drag-drop-box" *ngFor="let machine of job.machineTimes" cdkDrag>
            <div class="col-sm-5 col-md-7 col-lg-9 col-xl-10 text-left">
              Maschine {{machine.machineNr}}
            </div>
            <div class="col-sm-7 col-md-5 col-lg-3 col-xl-2">
              <app-icon-number-input
                [value]="machine.timeOnMachine"
                [iconClasses]="['fas', 'fa-stopwatch']"
                [min]="1"
                [max]="calculateMaxMachineTimeForJob(job, machine)"
                [maxErrorText]="'Für diesen Auftrag wurde ein Fertigstellungszeitpunkt angegeben, den die Summe der Zeiten aller Arbeitsgänge (bei keiner Angabe wird eine Zeiteinheit angenommen) nicht überschreiten darf'"
                [placeholder]="'Dauer'"
                (newValue)="onTimeOnMachineChange(machine, $event)"
              ></app-icon-number-input>
            </div>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>

    <!-- Information shown in case of no configured jobs -->
    <ng-template #noJobs>
      <div class="information font-italic small text-center">
        Bisher keine Aufträge konfiguriert.
      </div>
    </ng-template>

  </div>
</div>
