div.navbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-toolbar {
  background-color: var(--color-main);
}

mat-toolbar button.mat-icon-button i {
  color: white;
  font-size: large;
}

button span, button span mat-icon {
  font-size: larger;
}

button span mat-icon {
  width: 1%;
  height: 1%;
}

button span i {
  padding-left: 24px;
}

button span mat-icon {
  color: var(--color-main);
}

.navbar-toggle + div {
  padding-left: 8px;
}

.config {
  background: white;
  border: none;
  padding: 0 16px;
  border-radius: 32px;
  font-size: small;
}

.text-right {
  width: 100%;
}

.is-mobile mat-toolbar {
  position: fixed;
  z-index: 2;
}

mat-sidenav-container {
  flex: 1;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: var(--color-main) !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: var(--color-main) !important;;
}
