<div [class.is-mobile]="mobileQuery.matches" class="navbar-container">
  <mat-toolbar>
    <button
      class="navbar-toggle"
      (click)="snav.toggle()">
      <i class="fas fa-bars"></i>
    </button>
    <div class="text-right">
      <!-- TODO: Extract to info pop up? -->
      <button matTooltip="Projekt auf GitHub öffnen"
              (click)="openGithubPage()">
        <i class="fab fa-github"></i>
      </button>
      <button matTooltip="Über dieses Programm"
              (click)="openInfoDialog()">
        <i class="fas fa-info-circle"></i>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <!-- Sidenav list: -->
        <app-nav-list-content></app-nav-list-content>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- App content: -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
