<div [class.is-mobile]="mobileQuery.matches" class="navbar-container">
  <mat-toolbar>
    <button mat-icon-button
            class="navbar-toggle"
            (click)="snav.toggle()">
      <i class="fas fa-bars"></i>
    </button>

    <!-- TODO: Add action -->
    <div>
      <button matTooltip="Aktuelle Konfiguration als Formel"
              class="config">
        &alpha; | &beta; | &gamma;
      </button>
    </div>

    <div class="text-right">
      <button mat-icon-button
              routerLink="welcome"
              matTooltip="Zur Startseite">
        <i class="fas fa-home"></i>
      </button>
      <!-- TODO: Extract to info pop up? -->
      <button mat-icon-button
              matTooltip="Projekt auf GitHub öffnen"
              (click)="openGithubPage()">
        <i class="fab fa-github"></i>
      </button>
      <button mat-icon-button
              matTooltip="Über dieses Programm"
              (click)="openInfoDialog()">
        <i class="fas fa-info-circle"></i>
      </button>
    </div>
  </mat-toolbar>
  <mat-sidenav-container
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches"
                 [opened]="!mobileQuery.matches"
                 fixedTopGap="56"
                 #snav
    >
      <mat-nav-list>
        <!-- Sidenav list: -->
        <app-nav-list-content (tapEmitter)="onListItemTapped()">
        </app-nav-list-content>
      </mat-nav-list>
    </mat-sidenav>

    <!-- App content: -->
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
