<!-- TODO text-->
<p>
  Visualization lorem ipsum Visualization lorem ipsum Visualization lorem ipsum Visualization lorem ipsum
</p>

<div *ngIf="!result; else solution" class="loading-container">
  <div class="loading-content">
    <mat-spinner></mat-spinner>
  </div>
</div>

<!-- TODO Check which are needed and which are not -->
<ng-template #solution>
  <!-- TODO: Rethink used components and add/delete/change -->
  <app-solution-quality-data></app-solution-quality-data>
  <app-jobs-machines-visualizer></app-jobs-machines-visualizer>
  <app-solution-quality-visualizer></app-solution-quality-visualizer>

  <app-scheduling-gantt [timelineData]="result.visualizableSolutionQualityData.allMachineOperationStartsAtTimestamp.timelineData"></app-scheduling-gantt>

  <!-- TODO: Add card like layout in order to have flexible heights? -->
  <!-- TODO: colors for jobs, not for machines -->

  <!-- TODO Percentage for doughnuts? -->
  <!-- TODO: Extract? Add colors? row padding -->
  <div class="row">
    <div class="col-md-12">
      <app-chart [title]="result.visualizableSolutionQualityData.cumulatedDelaysAtTimestamps.title"
                 [type]="result.visualizableSolutionQualityData.cumulatedDelaysAtTimestamps.visualizableAs"
                 [labels]="result.visualizableSolutionQualityData.cumulatedDelaysAtTimestamps.labels"
                 [datasets]="result.visualizableSolutionQualityData.cumulatedDelaysAtTimestamps.datasets"
                 [yLabel]="result.visualizableSolutionQualityData.cumulatedDelaysAtTimestamps.yLabel"
                 [xLabel]="result.visualizableSolutionQualityData.cumulatedDelaysAtTimestamps.xLabel"
      ></app-chart>
    </div>
    <div class="col-md-12">
      <app-chart [title]="result.vizualizableGeneralData.totalDurationOnMachines.title"
                 [type]="result.vizualizableGeneralData.totalDurationOnMachines.visualizableAs"
                 [labels]="result.vizualizableGeneralData.totalDurationOnMachines.labels"
                 [datasets]="result.vizualizableGeneralData.totalDurationOnMachines.datasets"
                 [yLabel]="result.vizualizableGeneralData.totalDurationOnMachines.yLabel"
                 [xLabel]="result.vizualizableGeneralData.totalDurationOnMachines.xLabel"
      ></app-chart>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-chart [title]="result.vizualizableGeneralData.totalJobTimes.title"
                 [type]="result.vizualizableGeneralData.totalJobTimes.visualizableAs"
                 [labels]="result.vizualizableGeneralData.totalJobTimes.labels"
                 [datasets]="result.vizualizableGeneralData.totalJobTimes.datasets"
                 [yLabel]="result.vizualizableGeneralData.totalJobTimes.yLabel"
                 [xLabel]="result.vizualizableGeneralData.totalJobTimes.xLabel"
      ></app-chart>
    </div>
    <div class="col-md-12">
      <app-chart [title]="result.visualizableSolutionQualityData.percentageOfFinishedJobsAtTimestamp.title"
                 [type]="result.visualizableSolutionQualityData.percentageOfFinishedJobsAtTimestamp.visualizableAs"
                 [labels]="result.visualizableSolutionQualityData.percentageOfFinishedJobsAtTimestamp.labels"
                 [datasets]="result.visualizableSolutionQualityData.percentageOfFinishedJobsAtTimestamp.datasets"
                 [yLabel]="result.visualizableSolutionQualityData.percentageOfFinishedJobsAtTimestamp.yLabel"
                 [xLabel]="result.visualizableSolutionQualityData.percentageOfFinishedJobsAtTimestamp.xLabel"
      ></app-chart>
    </div>
    <div class="col-md-12">
      <app-chart [title]="result.visualizableSolutionQualityData.totalPercentageOfDelayedJobs.title"
                 [type]="result.visualizableSolutionQualityData.totalPercentageOfDelayedJobs.visualizableAs"
                 [labels]="result.visualizableSolutionQualityData.totalPercentageOfDelayedJobs.labels"
                 [datasets]="result.visualizableSolutionQualityData.totalPercentageOfDelayedJobs.datasets"
                 [yLabel]="result.visualizableSolutionQualityData.totalPercentageOfDelayedJobs.yLabel"
                 [xLabel]="result.visualizableSolutionQualityData.totalPercentageOfDelayedJobs.xLabel"
      ></app-chart>
    </div>
  </div>

</ng-template>
