<!-- Title -->
<div class="row title">
  <div class="col-md-12 text-center">
    <h3>
      Prioritätsregeln festlegen
    </h3>
    <mat-divider></mat-divider>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="text-justify">
      Aktuell an einer Maschine abzuarbeitende Aufträge können anhand bestimmter Kriterien priorisiert werden. Sie
      werden hierzu sortiert, indem die durch die hier definierten Prioritätsregeln (absteigende Reihenfolge)
      betrachteten Werte miteinander verglichen werden bis sie sich für die jeweiligen Aufträge unterscheiden und somit
      eine Aussage darüber möglich ist, welcher Auftrag zu bevorzugen ist. Sollte dies nicht möglich sein, entspricht
      die Auswahl der Prioritätsregel "First come, first serve".
    </p>
    <p>
      Sie können Ihre Liste an Prioritätsregeln auf dieser Seite entweder über die Buttons für "Hinzufügen" bzw
      "Löschen" oder direkt über Drag & Drop (Sortieren sowie Hinzufügen/Löschen) bearbeiten.
    </p>
    <div class="info-box">
      <h6>
        <i class="fas fa-info-circle"></i>
        Hinweis
      </h6>
      <div class="information text-justify">
        Beim Verwenden von Prioritätsregeln wird kein spezifischer zu minimierender Zielfunktionswert vorausgesetzt, da
        abhängig von der bzw. den gewählte(n) Regel(n) unterschiedliche Werte betrachtet werden und die Regeln darüber
        hinaus frei kombinierbar sind. Ein womöglich gewählter, zu minimierender Zielfunktionswert würde also ignoriert
        werden.
      </div>
    </div>
  </div>
</div>


<div class="row title">
  <div class="col-6 text-center">
    <h5>Gespeicherte Prioritätsregeln
      {{storedRules.length ? '('+storedRules.length+')' : ''}}
    </h5>
  </div>
  <div class="col-6 text-center">
    <h5>Weitere Prioritätsregeln</h5>
  </div>
</div>

<div class="row ">

  <!-- Stored rules -->
  <div class="col-6">
    <div
      cdkDropList
      #storedList="cdkDropList"
      [cdkDropListData]="storedRules"
      [cdkDropListConnectedTo]="[othersList]"
      class="drag-drop-list"
      (cdkDropListDropped)="drop($event)">
      <div class="drag-drop-box" *ngFor="let rule of storedRules; let i = index" cdkDrag>
        <div class="text-left">
          {{rule}}
        </div>
        <button mat-icon-button
                matTooltip="{{rule}} aus gespeicherten Prioritätsregeln entfernen"
                (click)="delete(i)">
          <i class="fas fa-trash larger-icon"></i>
        </button>
      </div>
      <div *ngIf="!storedRules.length" class="information font-italic small text-center">
        Prioritätsregeln zum Hinzufügen hierher ziehen
      </div>
    </div>
  </div>

  <!-- Other rules -->
  <div class="col-6">
    <div
      cdkDropList
      #othersList="cdkDropList"
      [cdkDropListData]="otherRules"
      [cdkDropListConnectedTo]="[storedList]"
      class="drag-drop-list"
      (cdkDropListDropped)="drop($event)">
      <div class="drag-drop-box" *ngFor="let rule of otherRules; let i = index" cdkDrag>
        <div class="text-left">
          {{rule}}
        </div>
        <button mat-icon-button
                matTooltip="{{rule}} zu gespeicherten Prioritätsregeln hinzufügen"
                (click)="add(i)">
          <mat-icon>
            add_circle_outline
          </mat-icon>
        </button>
      </div>
      <div *ngIf="!otherRules.length" class="information font-italic small text-center">
        Prioritätsregeln zum Löschen hierher ziehen
      </div>
    </div>
  </div>
</div>
