@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}

:root {
  --color-main: #224470;
  --color-warning: #9c0500;
  --color-grey-font: #747474;
  --color-background: #fafafa; /* Color of the content pages */
  --color-grey-line: rgba(0, 0, 0, .12); /* Anuglar line grey */
}

.status-warning, .status-warning * {
  color: var(--color-warning) !important;
}

button, button span, button i {
  color: var(--color-main);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

button span {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

button:disabled span, button:disabled i {
  color: var(--color-grey-font) !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: var(--color-main) !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: var(--color-main) !important;;
}

.mat-checkbox-layout {
  white-space: normal !important;
  text-align: left !important;
}

.mat-checkbox.mat-accent .mat-checkbox-inner-container {
  margin: 4px 8px auto 0;
}

.mat-content {
  padding-right: 0.75em;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--color-main);
}

mat-accordion mat-expansion-panel:last-child {
  margin-bottom: 16px;
}

mat-expansion-panel-header *, mat-expansion-panel *, mat-card-content, .title, .ord-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.larger-icon {
  font-size: larger !important;
}

.color-white .mat-simple-snackbar-action button span {
  color: white !important;
}

.no-wrap-text-ellipsis {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.info-box {
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid var(--color-grey-line);
  border-radius: 8px;
}

.info-box h6, .info-box h4 {
  color: var(--color-main);
  font-weight: normal;
}
