@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}

:root {
  --color-main: #224470;
  --color-okay: #006b1c;
  --color-warning: #9c0500;
  --color-grey-font: #636363;
}

/* TODO Used? */
.status-ok {
  color: var(--color-okay) !important;
}

.status-warn {
  color: var(--color-warning) !important;
}

button, button span, button i {
  color: var(--color-main);
}

a i {
  padding-right: 0.5em;
}
