.loading-content {
  /* Half of console height */
  transform: translate(-50%, calc(-50% - 32px)) !important;
}

.chart-console-container {
  background-color: var(--color-background);
  position: absolute;
  margin-top: -72px;
  max-height: 50px;
  padding-top: 8px;
}

.chart-console {
  height: 64px; /* console container height - console container padding top*/
  border: 1px solid var(--color-grey-line);
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.job-info {
  white-space: nowrap;
}

.chart-console i {
  padding-right: 8px;
}
