<div #container>

  <div class="text-justify">
    <p>
      Mithilfe des Gantt-Diagramms lässt sich der ermittelte Maschinenbelegungsplan übersichtlich visualisieren.
      Jeder Balken steht hierbei für einen Abarbeitungsschritt eines Auftrags, dessen Dauer durch die Balkenlänge
      dargestellt wird.
    </p>
    <p>
      Für eine bessere Übersichtlichkeit ist jedem Auftrag in diesem Diagramm eine (eindeutige) Farbe zugeordnet.
    </p>
    <p>
      Nähere Informationen zu den einzelnen Abarbeitungsschritten werden nach dem Auswählen des entsprechenden Balkens
      im
      Fenster unterhalb des Diagramms dargestellt.
    </p>
  </div>

  <div *ngIf="!detectChartVisibility()"
       [style.height.px]="contentHeight"
       class="loading-container">
    <div class="loading-content">
      <!-- Smaller spinner size for small Gantt charts -->
      <mat-spinner [diameter]="contentHeight < 150 ? 30 : 100"></mat-spinner>
    </div>
  </div>

  <div class="solution-diagram">
    <!-- TODO internal feature: on window nav bar hidden due to resizing: detect changes? -->

    <div #chartContainer>
      <google-chart (ready)="onChartReady()"
                    (select)="onJobOperationSelected($event)"
                    (mouseenter)="onJobOperationMouseEnter($event)"
                    (mouseleave)="onJobOperationMouseLeave()"
                    [type]="'Timeline'"
                    [data]="data"
                    [options]="options"
                    [width]="container.offsetWidth - 16"
                    [height]="contentHeight"
                    #chart
      ></google-chart>
    </div>

    <div class="chart-console-container"
         [style.width.px]="container.offsetWidth - 16">

      <!-- Tooltips since longer strings may be cut off on smaller devices -->
      <div #chartConsole class="chart-console font-weight-light">
        <div *ngIf="!displayedOperation; else operation" class="text-center">
          <span class="information font-italic">{{consoleText}}</span>
        </div>
        <ng-template #operation>

          <div class="no-wrap-text-ellipsis"
               [style.color]="displayedOperation.color"
               matTooltip="{{displayedOperation.start}} - {{displayedOperation.end}}
                  (Dauer: {{displayedOperation.duration}})
                  an {{displayedOperation.machine}}">

            <i class="fas fa-stopwatch"></i>{{displayedOperation.start}} - {{displayedOperation.end}}
            (Dauer: {{displayedOperation.duration}})
            an {{displayedOperation.machine}}
          </div>
          <div class="no-wrap-text-ellipsis"
               [style.color]="displayedOperation.color"
               matTooltip="{{displayedOperation.job}}">

            <i class="fas fa-tools align-middle"></i>{{displayedOperation.job}}
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

